
.topnav {
    /* Variables */
    --defaultColor: #17499f;
    --hoverColor: #1a53b6;
    --activeColor: #22a9e0;
    --buttonWidth: 220px;
    font-size: 1.2vw;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--defaultColor);
}

    /* Default left */
.topnav li {float: left;
    min-width:  16.66%;
  }

.topnav li a {
    font-family: "Porter Bold DEMO";
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav li a:hover:not(.active) {background-color: var(--hoverColor);}

.topnav li .active {background-color: var(--activeColor);}

@media screen and (max-width: 1000px){
    /*Make Vertical on small screen*/
    ul.topnav li {
          font-size: 2vw;
      min-width:  33.33%;
      }
    ul.topnav .dropdown-content {
    min-width:  33.33%;
  }
}

@media screen and (max-width: 600px){
    /*Make Vertical on small screen*/
    ul.topnav li.right,
    ul.topnav li {float: none;
        font-size: 15;
      }
}
